<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="center">
    <nav>
      
      
      <a href="/beers">All Beers</a>
      
      <a href="/auth/google" class="login">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      
    </nav>
          
    <h1 class="homeTitle">Cerveza, Biere, and Beer</h1>
        
    <p class="siteDescription">Welcome to the ultimate Cerveza reviews page on the web. We offer a wide range of Biere
      information and reviews. Please signup with your gmail to talk Beer.</p>
  </body>
</html>
